*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button {
  font-family: monospace;
  font-size: 3rem;
  background-color: white;
  border: 5px, solid black;
}
